<div class="container w100 clockContainer" >

  <div class="card border-dark w100 my-2">
    <div class="text-center bg-cardtitle pt-2">
      <h4>DateTime</h4>
    </div>

    <div class="card-body w100" style="height: 70px" *ngIf="clockTime != undefined"  [formGroup]="tzFormGroup">
            <mat-form-field class="datepicker">
              <input matInput [matDatepicker]="picker" placeholder="Date" [value]="date.value">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <ng-moment-timezone-picker class="tzonepicker"
              [formControlName]="'timezone'"
              [customPlaceholderText]="'Timezone'">
            </ng-moment-timezone-picker>
    </div>
  </div>

  <div class="card border-dark w100 my-2">
    <div class="text-center bg-cardtitle pt-2 w100">
        <h4>Clock</h4>
    </div>
    <div class="card-body w100  align-content-center" *ngIf="clockTime != undefined">
      <table class="w100">
        <tr *ngIf="calibrationMode">
          <td width="*" class="align-content-center"></td>
          <td width="550px" class="text-center text-danger">
            <h4>Clock in calibration mode!!</h4>
          </td>
          <td  width="*" class="align-content-center"></td>

        </tr>
        <tr>
          <td width="*" class="align-content-center"></td>
          <td width="550px" class="align-content-center">
            <JSB-flipclock
              [HoursTensPlace]=HoursTensPlace
              [HoursOnesPlace]=HoursOnesPlace
              [MinutesTensPlace]=MinutesTensPlace
              [MinutesOnesPlace]=MinutesOnesPlace
              [SecondsTensPlace]=SecondsTensPlace
              [SecondsOnesPlace]=SecondsOnesPlace
              >
            </JSB-flipclock>
          </td>
          <td  width="*" class="align-content-center"></td>

        </tr>

      </table>
    </div>
  </div>

  <div class="card border-dark w100 my-2">
    <div class="text-center bg-cardtitle pt-2 w100">
      <div class="column w10">&nbsp;</div>
      <div class="column w80">
        <h4>Clock calibration</h4>
      </div>
      <div class="column w10">
        <mat-slide-toggle (toggleChange)="applyCalibrationMode(!calibrationMode)"
                    [checked]="calibrationMode">
        </mat-slide-toggle>
      </div>
    </div>

    <div class="card-body w100" style="height: 70px"  *ngIf="calibrationMode">
      <app-cal-split-flap [type]="'hh'"></app-cal-split-flap>
      <app-cal-split-flap [type]="'mm'"></app-cal-split-flap>
    </div>
  </div>
</div>
