<div class="w100" align="center">
  <div class="row w80" *ngFor="let field of statusArray; let i = index">
    <div class="w70 column" style="display: inline-block; text-align: center">
      <mat-form-field class="w80">
          <mat-label>{{field.description}}</mat-label>
          <input matInput placeholder="digit number" value="{{field.value}}">
      </mat-form-field>
    </div>
    <div class="w30 column">
      <button type="button" mat-button (click)="setParameter(field.description,field.value)">
        Apply
      </button>
    </div>
  </div>
</div>
